<launch>
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
        <arg name="fps_limit" value="15"/>
        <arg name="publish_tf" value="true"/>
    </include>
    <node name="robottf_locUpdater" pkg="robottf" type="robottf_locUpdater"/>
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 base_link kinect2_link 100"/>    
    <node pkg="rosbag" type="record" name="record" output="screen" args="/kinect2/qhd/image_color_rect /kinect2/qhd/image_depth_rect /kinect2/qhd/camera_info tf tf_static -O /home/fulva/output.bag"/>
</launch>